[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyflakes = "*"
uvicorn = "*"
pylint = "*"

[packages]
fastapi = "*"
pydantic="*"
gunicorn ="*"
uvicorn ="*"
Flask ="*"
google-cloud-ndb = "*"
redis = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
